<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Eziohao's Blog</title>
	<!--<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">-->
    <script src="/public/lib/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" href="/public/lib/bootstrap/css/bootstrap.min.css">
    <script src="/public/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/public/lib/bootstrap/css/bootstrap-theme.min.css">
</head>
<body>
	<div class="container">
	
	<nav class="navbar navbar-default ">
		<div class="container-fluid">
		<div class="navbar-header">
		 <a href="https://github.com/Eziohao" class="navbar-brand">Eziohao's Blog</a>
		</div>
         <ul class="nav navbar-nav">
		<li ><a href="/" title="mainpage">Home</a></li>
		<% if(user){ %> <li><a href="/upload" title=upload>Upload</a></li>
		                <li><a href="/post" title=post>Post</a></li>
		                <li><a href="/logout"title=logout>Logout</a></li>
		<% }else{ %>                
		<li><a href="/login" title="loginin">Login</a></li>
		<li><a href="/reg" title="register">Register</a></li>
		<% } %>
		</ul>
		</div>
	</nav>
	
	<h1 ><%= title %></h1>
	
<article class="col-md-8">
	<% if(success){ %>
	<div><%= success %></div>
	 <% } %>
	 <%if(error){ %>
	 <div><%= error%></div>
	 <% } %>