<%- include header %>
<form method='post'>
	Title:<br/>
	<input type='text' nmae='title'><br>
	Main body:<br>
	<textarea name='post' rows='20' cols='100'></textarea> <br>
	<input type='submit' value='Submit'>
     <button type=></button>
</form>
<%- include footer %>