<%- include header %>
<form method="post">
	Username: <input type="text" name="name"><br>
	Password: <input type="password" name="password"><br>
	Confirm Password: <input type="password" name="passwordRepeat"> <br>
	E-mail: <input type="text" name="email"> <br>
	<input type="submit" value="Register">
</form>
<%- include footer %>